.*node_modules(/.*)?
*node_modules/*
.git/
.git/*
.vscode/
.vscode/*
venv/
.vagrant/
.idea/
lib/
lib/*
env/
*.pyc
infrastructure_scripts/
infrastructure_scripts/*
**/**/.DS_Store
kokoro
gulp_tasks
.Trash-*
__pycache__
cloud_sql_proxy
*local.py
