.DS_Store
**/.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.idea
.vscode
*~
/logs
/data
.~*
common/CACHE
bakerydemo/settings/local.py
bakerydemodb
__pycache__
.vagrant/
/.vagrant/
/Vagrantfile.local
!.gitignore
bakerydemo/collect_static/
cloud_sql_proxy
ornate-hangar-125622-e16e04136ba8.json
bakerydemo/settings/production.py
